{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/InternRegister.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}Register | Bulan Campus{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <!--------------------Text---------------------------->
        <div class="text-one">
            <p1>SORSOGON STATE UNIVERSITY - BULAN CAMPUS</p1>
        </div>
        <div class="text-two">
            <p2>INTERNSHIP MONITORING SYSTEM</p2>
        </div>
        <!--------------------Text---------------------------->

        <!---------------------University Logo--------------------------->
        <section class="mt-10">
            <img src="{% static 'images/Revised-SSU-Logo.png' %}" class="img-fluid" alt="SSU Logo">
        </section>
        <!---------------------University Logo--------------------------->

        <!---------------------Rectangle Container------------------>
        <div class="rectangle">
            <form method="post" action="{% url 'InternRegister' %}">
                {% csrf_token %}
                <div class="input-field1">
                    <div class="row">
                        <input for="{{ form.first_name.id_for_label }}" type="text" class="input1" placeholder="First Name" required>
                    </div>
                    <div class="row">
                        <input for="{{ form.last_name.id_for_label }}" type="text" class="input1" placeholder="Last Name" required>
                    </div>
                    <div class="row">
                        <input type="text" class="input1" placeholder="Middle Initial" required>
                    </div>
                    <div class="row">
                        <input for="{{ form.username.id_for_label }}" type="text" class="input1" placeholder="Username" required>
                    </div>
                </div>

                <div class="input-field">
                    <input for="{{ form.student_id.id_for_label }}" type="text" class="input" placeholder="School ID Number" required>
                </div>

                <div class="input-field">
                    <input for="{{ form.course.id_for_label }}" type="text" class="input" placeholder="Course" required>
                </div>

                <div class="input-field">
                    <input for="{{ form.company_name.id_for_label }}" type="text" class="input" placeholder="Company Name" required>
                </div>

                <div class="input-field">
                    <input for="{{ form.email.id_for_label }}" type="text" class="input" placeholder="E-mail Address" required>
                </div>

                <div class="input-field">
                    <input type="text" class="input" placeholder="Position" required>
                </div>

                <div class="input-field">
                    <input for="{{ form.address.id_for_label }}" type="text" class="input" placeholder="Address" required>
                </div>

                <div class="input-field2">
                    <div class="input-field">
                        <input for="{{ form.password1.id_for_label }} type="password" class="input" placeholder="Password" required>
                    </div>

                    <div class="input-field">
                        <input for="{{ form.password2.id_for_label }}" type="password" class="input" placeholder="Confirm Password" required>
                    </div>
                </div>

                <div>
                    <button type="submit" class="submitbutton">Submit</button>
                </div>

            </form>
        </div>

        <a href="{% url 'Login' %}" class="button-link"><p>Already have an account?</p></a>
        <!---------------------Rectangle Container------------------>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
