    <h1>Create Your Account</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- First Name -->
        <div>
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
        </div>

        <!-- Last Name -->
        <div>
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name }}
        </div>

        <!-- Username -->
        <div>
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>

        <!-- Email -->
        <div>
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>

        <!-- Student ID -->
        <div>
            <label for="{{ form.student_id.id_for_label }}">Student ID:</label>
            {{ form.student_id }}
        </div>

        <!-- Course -->
        <div>
            <label for="{{ form.course.id_for_label }}">Course:</label>
            {{ form.course }}
        </div>

        <!-- Company Name -->
        <div>
            <label for="{{ form.company_name.id_for_label }}">Company Name:</label>
            {{ form.company_name }}
        </div>

        <!-- Contact Number -->
        <div>
            <label for="{{ form.contact_num.id_for_label }}">Contact Number:</label>
            {{ form.contact_num }}
        </div>

        <!-- Address -->
        <div>
            <label for="{{ form.address.id_for_label }}">Address:</label>
            {{ form.address }}
        </div>


        <!-- Password -->
        <div>
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>

        <!-- Password Confirmation -->
        <div>
            <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
            {{ form.password2 }}
        </div>

        <button type="submit">Sign Up</button>
    </form>

    <!-- JavaScript for image preview -->
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#id_profile_image").change(function(){
            readURL(this);
        });
    </script>