<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% load static %}
<h2>Sign Up</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
        {% if form.username.errors %}
            <div class="alert alert-danger">
                {{ form.username.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="alert alert-danger">
                {{ form.email.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.student_id.id_for_label }}">Student ID</label>
        {{ form.student_id }}
        {% if form.student_id.errors %}
            <div class="alert alert-danger">
                {{ form.student_id.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.course.id_for_label }}">Course</label>
        {{ form.course }}
        {% if form.course.errors %}
            <div class="alert alert-danger">
                {{ form.course.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.company_name.id_for_label }}">Company Name</label>
        {{ form.company_name }}
        {% if form.company_name.errors %}
            <div class="alert alert-danger">
                {{ form.company_name.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.contact_num.id_for_label }}">Contact Number</label>
        {{ form.contact_num }}
        {% if form.contact_num.errors %}
            <div class="alert alert-danger">
                {{ form.contact_num.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.address.id_for_label }}">Address</label>
        {{ form.address }}
        {% if form.address.errors %}
            <div class="alert alert-danger">
                {{ form.address.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.profile_image.id_for_label }}">Profile Image</label>
        {{ form.profile_image }}
        {% if form.profile_image.errors %}
            <div class="alert alert-danger">
                {{ form.profile_image.errors }}
            </div>
        {% endif %}
        <img id="image-preview" src="" alt="Image Preview" style="max-width: 200px; display: none;">
    </div>
    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Password</label>
        {{ form.password1 }}
        {% if form.password1.errors %}
            <div class="alert alert-danger">
                {{ form.password1.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Password confirmation</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
            <div class="alert alert-danger">
                {{ form.password2.errors }}
            </div>
        {% endif %}
    </div>

    <button type="submit">Sign up</button>
</form>
{% endblock %}
