{% extends 'adminbase.html' %}
{% load static %}

{% block title %}Create Announcement{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style/admin/create_announcement.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Announcement</span>
        </div>
    </section>

    <h1 class="section-title">Create Announcement</h1>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-column">
                <div class="input-container">
                    <label class="input-label" for="{{ announcement_form.announcement_list.id_for_label }}">Announcement List:</label>
                    {{ announcement_form.announcement_list }}
                </div>
                <div class="input-container">
                    <label class="input-label" for="{{ announcement_form.image_announcement.id }}">Image:</label>
                    {{ announcement_form.image_announcement }}
                </div>
                <div class="input-container">
                    <label class="input-label" for="{{ announcement_form.document_announcement.id }}">Document:</label>
                    {{ announcement_form.document_announcement }}
                </div>
            </div>

            <div class="form-column">
                <div class="input-container">
                    <label class="input-label" for="{{ recommendation_form.recommendation_list.id_for_label }}">Recommendation List:</label>
                    {{ recommendation_form.recommendation_list }}
                </div>
                <div class="input-container">
                    <label class="input-label" for="{{ recommendation_form.image_recommendation.id }}">Image:</label>
                    {{ recommendation_form.image_recommendation }}
                </div>
                <div class="input-container">
                    <label class="input-label" for="{{ recommendation_form.document_recommendation.id }}">Document:</label>
                    {{ recommendation_form.document_recommendation }}
                </div>
            </div>

            <button type="submit" name="all_submit">Post All</button>
        </form>
    </div>
</div>

{% endblock %}