{% extends "base.html" %}

{% block title %}Create Calendar{% endblock %}
{% load static %}
{% block content %}

    <h1>Create Your Internship Calendar</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Calendar</button>
    </form>
<p><a href="{% url 'logout' %}">Log Out</a></p>
    <br> <br>
    <a href="{% url 'login' %}">Log In</a> <br>
    <a href="{% url 'signup' %}">Sign Up</a> <br>
    <a href="{% url 'create_announcement' %}">Create Announcement</a> <br>
    <a href="{% url 'time_in_out' %}">Add Time Record</a> <br>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}