{% extends "base.html" %}

{% block title %}View Calendar{% endblock %}
{% load static %}
{% block content %}
 <h1>Your Internship Calendars</h1>
            <form method="post" action="{% url 'clear_setup' %}">
                {% csrf_token %}
                <button type="submit">Clear Calendar Setup</button>
            </form>
    <ul>
        {% for calendar in calendars %}
            <li>
                <strong>Starting Month:</strong> {{ calendar.starting_month }}<br>
                <strong>Starting Date:</strong> {{ calendar.starting_date }}<br>
                <strong>Ending Month:</strong> {{ calendar.ending_month }}<br>
                <strong>Ending Date:</strong> {{ calendar.ending_date }}<br>
                <strong>Weekly Workshift:</strong> {{ calendar.weekly_workshift }}<br>
                <strong>Timeshift:</strong> {{ calendar.timeshift }}<br>
                <strong>Rest Days:</strong> {{ calendar.rest_days }}<br>
            </li>
        {% empty %}
            <li>No calendars saved yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'time_in_out' %}">Add Time Record</a> <br>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <a href="{% url 'announcement_list' %}">Go to Announcement</a>

    <br> <br>
    <a href="{% url 'login' %}">Log In</a> <br>
    <a href="{% url 'signup' %}">Sign Up</a> <br>
    <a href="{% url 'create_announcement' %}">Create Announcement</a> <br>
    <a href="{% url 'time_in_out' %}">Add Time Record</a> <br>
    <a href="{% url 'set_up_calendar' %}"> Set Up Calendar</a> <br>
    <a href="{% url 'logout' %}">Logout</a> <br>
{% endblock %}