
.DailyAccomplishement{
    position: absolute;
    top: 300px;
    left: 700px;
    height: 200px;
    max-width: 2000px;
    background-color: yellow;
}


.dtr{
    position: absolute;
    top: 100px;
    left: 150px;
    max-width: 500px;
    background-color: blue;
}

.timehistory{
    position: relative;
    top: 100px;
    left: 700px;
    max-width: 500px;
    background-color: pink;
    z-index: 2;
}