*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("library.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.messages .error {
  position: relative;
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  padding: 10px;
  top: 160px;
  left: 0px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;

}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    .img-fluid {
        position: fixed;
        width: 120px;
        height: 120px;
        top: 30px;
        left: 610px;
        display: flex;
        z-index: 1;
    }

    .rectangle {
        position: fixed;
        width: 700px;
        height: 450px;
        top: 90px;
        left: 320px;
        border-radius: 15px;
        background-color: rgba(150, 0, 0, 0.671);
    }

    .input-field{
        display: flex;
        flex-direction: column;
        margin-left: -60px;
    }

    .input{
        position: relative;
        top: 170px;
        height: 50px;
        width: 400px;
        left: 220px;
        border: none;
        outline: none;
        border-radius: 20px;
        color: #000000;
        padding: 0 0 0 45px;
    }

    i{
        position: relative;
        top: 137px;
        left: 240px;
        width: 20px;
        color: #8a4848;
    }
    
    .click{
        position: relative;
        top: -20px;
        left: -50px;
    }
    .submit-login{
        position: relative;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        height: 45px;
        top: 190px;
        left: 290px;
        outline: none;
        width: 100px;
        background: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        transition: .3s;
    }
    .submit-login:hover{
        box-shadow: 1px 5px 7px 1px rgba(4, 2, 2, 0.765);
    }

    .bottom{
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        font-size: small;
        margin-top: 480px;
        margin-left: 110px;
    }

    .left{
        display: flex;
        color: white;
        z-index: 1;
        margin-left: 400px;
    }

    .right{
        z-index: 1;
        margin-left: 130px;
    }

    .text-one{
        position: fixed;
        display: flex;
        z-index: 1;
        font-style: normal;
        font-weight: 700;
        line-height: 0px;
        font-size: 25px;
        color: #FFFFFF;
        top: 180px;
        left: 370px;
    }

    .text-two{
        position: fixed;
        display: flex;
        z-index: 1;
        font-style: normal;
        font-weight: 700;
        line-height: 0px;
        font-size: 30px;
        color: #FFFFFF;
        top: 210px;
        left: 415px;
    }
    .sign-up button{
        position: relative;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        height: 45px;
        top: 126px;
        left: 400px;
        outline: none;
        width: 100px;
        background: rgba(30, 164, 17, 0.847);
        cursor: pointer;
        transition: .3s;
    }
    .sign-up button:hover{
        box-shadow: 1px 5px 7px 1px rgba(4, 2, 2, 0.765);
    }

    .button {
        position: absolute;
        display: inline-block;
        padding: 10px 20px;
        background-color: #92ab9a;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
    }
    .button:hover{
        box-shadow: 1px 5px 7px 1px rgba(4, 2, 2, 0.226);
    }
}




