@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*----------------------------------------------CALENDAR-----------------------------------------------------*/


  .calendar {
    display: fixed;
    position: relative;
    max-width: 400px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: rgba(68, 68, 68, 1);
    margin-left: 800px;
    margin-top: 126px;
  }

  .calendar .header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 0px;
    color: white;
    border-bottom: 2px solid #000000;
  }

  .calendar .header1 .month {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
  }

  .calendar .header1 .btns {
    display: flex;
    gap: 15px;
    position: relative;
    top: -20px;
  }

  .calendar .header1 .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .calendar .header1 .btns .btn:hover {
    background-color: #791e30;
    transform: scale(0.5);
  }

  .weekdays {
    display: flex;
    gap: 7px;
    margin-bottom: 10px;
    margin-left: 20px;

  }

  .weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
  .days {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    position: relative;
    top: 20px;
    margin-left: 20px;
    color: white;
  }
  .days .day {
    width: calc(110% / 7 - 10px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #6a6a6a;
    transition: all 0.3s;

  }
  .days .day:not(.next):not(.prev):hover {
    color: gold;
    background-color: maroon;
    transform: scale(1.05);
  }
  .days .day.today {
    color: #fff;
    background-color: #a50e0e;
  }
  .days .day.next,
  .days .day.prev {
    color: #ccc;
  }

/*----------------------------------------------CALENDAR /end-----------------------------------------------------*/

.bodywhite{
            background-color: white;
        }


.body {
            background-color: #e8e8e8; /* Set the background color here */
        }



  #message-container{
    position: relative;
    top: 500px;
    left: 800px;
    display: flex;
    background: gray;
    height: auto;
    width: 380px;
    padding: 20px;
    margin-left: 15px;
    margin-bottom: -10px;
    border: none;
    border-radius: 10px;

  }
  .textbox{
    background: rgb(75, 75, 75);
    display: flex;
    position: absolute;
    padding: 10px;
    padding-left: 50px;
    width: 85vh;
    border: none;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 180px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
h2{
    display: block;
    position: absolute;
    margin-left: 100px;
    margin-top: 160px;
    font-weight: bold;
}
.createcalendar{
    position: absolute;
    background: #848484;
    top: 210px;
    margin-left: 800px;
    height: 230px;
    width: 300px;
    padding: 50px;
    padding-left: 20px;
    color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.createcalendar h2{
    background: #970505;
    width: 300px;
    top: -180px;
    margin-left: -20px;
    padding: 15px;
    padding-left: 20px;
    border: none;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
    color: white;
}
.createcalendar #start_month, #end_month{
    padding: 10px;
    width: 260px;
    border: none;
    border-radius: 5px;
    height: 28px;
}
.createcalendar button{
    background-color: #A90000;
    margin-top: 20px;
    margin-left: 70px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.createcalendar label{
    font-size: 10px;
    font-weight: 700;
}
.eme img{
    position: absolute;
    height: 200px;
    width: 200px;
    margin-top: 210px;
    margin-left: 450px;
    z-index: 3;
}
.cc img{
    position: relative;
    width: 135px;
    height: 135px;
    margin-top: 280px;
    margin-left: 590px;
    z-index: 1;
}
.bb img{
    position: relative;
    width: 135px;
    height: 135px;
    margin-top: -120px;
    margin-left: 400px;
    z-index: 2;
}
.ss img{
    position: relative;
    width: 150px;
    height: 150px;
    top: -300px;
    margin-left: 400px;
    z-index: 1;
}
.mari{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -620px;
    margin-left: -8px;
    display: flex;
}

.interncalendartxt{
    font: bold;
    width: 800px;
    position: absolute;
    top: -70px;
    left: 180px;

}

.bold-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* This makes the text bold */
    font-size: 24px; /* Adjust the font size as needed */
}


.startM {
    display: flex;
    position: relative;
    max-width: 220px;
    top: 168px;
    left: 215px;
    font-size: 14px;
    font-weight: bold;
    z-index: 25;
}

.endM {
    display: flex;
    position: relative;
    max-width: 220px;
    top: 132px;
    left: 535px;
    font-size: 14px;
    font-weight: bold;
    z-index: 25;
}

/*------------------------------ Submission Bins----------------------------------------*/

.submission-bins {
    position: absolute;
    top: 200px;
    left: 165px;
    background-color: #444444;
    border-radius: 5px 5px 5px 5px;
    padding: 0px;
    width: 600px;
    padding-bottom: 20px;
    padding-top: -20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.day{
    position: relative;
    top: -25px;
    left: 0px;
    color: white;
    font-size: 11px;

}

.bins-list {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

}

.bins-in-week {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Adjust this property to distribute items as needed */

}


ul {
    position: relative;
    top: 10px;
    list-style-type: none;
    padding-left: 8px;
    padding-right: 5px;

   }

.week {
    color: white;
    position: relative;
    margin-left: 10px;
    top: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* This makes the text bold */
    font-size: 24px; /* Adjust the font size as needed */
}

.bin-item {
    position: relative;
    top: -30px;
    left: 0px;
    text-align: center;
    flex: 1; /* Use flex to make the items grow equally and fill the available space */


}
/* CSS for the green button */
.button1 {
    display: flex;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background-color: #6a6a6a ; /* Green background color */
    border: none; /* Remove border */
    color: maroon; /* Text color */
    text-align: center; /* Center-align the text */
    text-decoration: none; /* Remove underlines for links */
    border-radius: 2px 2px 0px 0px; /* Rounded corners */
    cursor: pointer; /* Change cursor to a pointer on hover */
    font-size: 10px;
    min-height: 19px; /* Increase the minimum height to maximize the area */
    width: 98%; /* Take up the entire width of the container */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);

}

.button1:hover {
    background-color: #2b2b2b; /* Background color on hover */
}

.button2 {
    display: flex;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background-color: #9b0000; /* Green background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    text-align: center; /* Center-align the text */
    text-decoration: none; /* Remove underlines for links */
    border-radius: 0px 0px 2px 2px; /* Rounded corners */
    cursor: pointer; /* Change cursor to a pointer on hover */
    font-size: 10px;
    font-weight: bold;
    min-height: 10px; /* Increase the minimum height to maximize the area */
    width: 98%; /* Take up the entire width of the container */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.button2:hover {
    background-color: #ccaa00; /* Background color on hover */
}

.button2 a {
    text-decoration: none; /* Remove underline for links within .button2 */
}

.week-item {
    position: relative;
    top: -15px;
    height: 35px;

    border-radius: 2px 2px 2px 2px;
    padding: 0px;
    margin-top: 20px;


}

.week-item > li{
    height: 10px;

}

  .red-button {
    background-color: red;
    color: white;
    /* Add any other styling you want for the red button */
  }

/*------------------------------ Submission Bins END----------------------------------------*/

.mylinks {
    position: absolute;
    top: 650px;
    left: 800px;
    z-index: 2;
}

        text {
            width: 100%;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            resize: vertical; /* Allow vertical resizing */
        }

        /* Hover effect */
        textarea:hover {
            border-color: #666;
        }

        /* Focus effect */
        textarea:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

 .line-break::before {
              content: "";
              display: block;
              margin-top: -24px;
              margin-bottom: 10px; /* Adjust the margin-top to control the spacing between elements */
              border-top: 1px solid #e8e8e8; /* Adjust the color and thickness as needed */
              width: 553px;
              margin-left: 9px;
            }



















@media (min-width: 320px){
    .dash-content .content-list{
    margin-top: 150px;
    }
}
@media (min-width: 375px){
    .dash-content .content-list{
        margin-top: 125px;
        }
}
@media (min-width: 425px){
    .dash-content .content-list{
        margin-top: 100px;
        }
}