{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> <!--url of other html file-->
  <a href="{% url 'signup' %}">Sign Up</a>
  <a href="{% url 'create_announcement' %}">Create Announcement</a>
  <a href="{% url 'time_in_out' %}">Add Time Record</a>

{% endif %}
{% endblock %}