{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style/Login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Log in | Bulan Campus</title>
</head>
<body>
    <div class="container">
        <!-- Your custom content goes here -->

        <!--------------------Text---------------------------->
        <div class="text-one">
            <p>SORSOGON STATE UNIVERSITY-BULAN CAMPUS</p>
        </div>
        <div class="text-two">
            <p>INTERNSHIP MONITORING SYSTEM</p>
        </div>
        <!--------------------Text---------------------------->

        <!---------------------University Logo--------------------------->
        <section class="mt-10">
            <img src="{% static 'images/Revised-SSU-Logo.png' %}" class="img-fluid" alt="SSU Logo">
        </section>
        <!---------------------University Logo--------------------------->

        <!---------------------Rectangle Container------------------>
        <div class="rectangle">
            <form method="post" action="{% url 'loginnn' %}">
                {% csrf_token %}

                <div class="input-field">
                    <input for="{{ auth_form.username.id_for_label }}" type="text" class="input" placeholder="Username" name="username" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-field">
                    <input for="{{ auth_form.password.id_for_label }}" type="password" class="input" placeholder="Password" name="password" required>
                    <i class="bx bx-lock-alt"></i>

                </div>

                {% if auth_form.errors %}
                  <div class="messages">
                    <div class="error">
                      <strong>Error:</strong> Invalid username or password.
                    </div>
                  </div>
                {% endif %}

                <div class="click">
                    <button type="submit" class="submit-login">Log-in</button>
                </div>
            </form>

            <div class="sign-up"><a href="InternRegister.html">
                <button>Sign-up</button>
            </a></div>

            <div class="bottom">
                <div class="left">
                    <input type="checkbox" id="check">
                    <label for="check">Remember Me</label>
                </div>
                <div class="right">
                    <label><a href="#">Forgot Password?</a></label>
                </div>
            </div>
        </div>
        <!---------------------Rectangle Container------------------>
    </div>
</body>
</html>
