h2 {
  font-weight: bold;
  color: green;
}

.image-preview {
  margin-top: 10px;
}

#profile_image_preview {
  max-width: 200px;
  max-height: 200px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.announcement-image {
    max-width: 150px;
    height: auto;
    display: block;
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 150px; /* You can adjust this value */
}