{% extends "base.html" %}
{% block content %}
  <h2>Internship Calendar</h2>
  <p>Start Month: {{ interns_calendar.start_month|date:"F d, Y" }}</p>
  <p>End Month: {{ interns_calendar.end_month|date:"F d, Y" }}</p>
  <a href="{% url 'view_calendar' %}">Go to View Calendar</a>
  <!-- Generate submission bins based on the number of days -->
  <h3>Submission Bins</h3>
  <ul>
    {% for bin_number, adjusted_bin_number, bin_date in submission_bins_with_dates %}
      <li>
        Submission Bin {{ adjusted_bin_number }}
        <br>
        Date: {{ bin_date|date:"F d, Y" }}
        <br>
        <a href="{% url 'daily_accomplishment_create' date=bin_date %}">Add Daily Report for {{ bin_date|date:"F d, Y" }}</a>

        <!-- Display daily accomplishment reports for this date -->
        <ul>
          {% for accomplishment in accomplishments %}
            {% if accomplishment.date|date:"F d, Y" == bin_date|date:"F d, Y" %}
              <li>
                Date: {{ accomplishment.date|date:"F d, Y" }}
                <p>{{ accomplishment.text_submission }}</p>
                {% if accomplishment.document_submission %}
                  <a href="{{ accomplishment.document_submission.url|safe }}" target="_blank">Download File</a>
                {% endif %}
              </li>
            {% endif %}
          {% empty %}
            <li>No reports available.</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'interns_calendar_create' %}">Set Up Calendar</a>


{% endblock %}
