{% extends "base.html" %}
{% block content %}
  <h2>Internship Calendar</h2>
  <p>Start Month: {{ interns_calendar.start_month|date:"Y-m-d" }}</p>
  <p>End Month: {{ interns_calendar.end_month|date:"Y-m-d" }}</p>
  <h3>Daily Accomplishment Reports</h3>
  <ul>
    {% for accomplishment in accomplishments %}
      <li>
        Date: {{ accomplishment.date|date:"Y-m-d" }}
        <p>{{ accomplishment.text_submission }}</p>
      </li>
    {% empty %}
      <li>No reports available.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'daily_accomplishment_create' %}">Add Daily Report</a>
  <a href="{% url 'interns_calendar_create' %}">Set Up Calendar</a>

  <!-- Generate submission bins based on the number of days -->
  <h3>Submission Bins</h3>
  <ul>
    {% for bin_number, adjusted_bin_number, bin_date in submission_bins_with_dates %}
      <li>
        Submission Bin {{ adjusted_bin_number }}
        <br>
        Date: {{ bin_date|date:"Y-m-d" }}
        <br>
        <a href="{% url 'daily_accomplishment_create' %}">Add Daily Report</a>
      </li><br>
    {% endfor %}
  </ul>
{% endblock %}
