{% extends "base.html" %}
{% block content %}
  <h2>Internship Calendar</h2>
  <p>Start Month: {{ calendar.start_month }}</p>
  <p>End Month: {{ calendar.end_month }}</p>
  <h3>Daily Accomplishment Reports</h3>
  <ul>
    {% for report in reports %}
      <li>
        Date: {{ calendar.start_month + timedelta(days=report.order-1) }}
        <a href="{{ report.document_report.url }}" download>Download Report</a>
        <p>{{ report.text_report }}</p>
      </li>
    {% empty %}
      <li>No reports available.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'create_daily_report' calendar.pk %}">Add Daily Report</a>
{% endblock %}
