{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Add Daily Report</title>

</head>
<body>
{% block content %}
  <h2>Create Daily Accomplishment Report for {{ selected_date|date:"F d, Y" }}</h2>

  {% if accomplishments %}
    <!-- Display existing accomplishments if they exist -->
    <h3>Existing Accomplishments:</h3>
    <ul>
      {% for accomplishment in accomplishments %}
        <li>{{ accomplishment.text_submission }}</li>
        {% if accomplishment.document_submission %}
          <li><a href="{{ accomplishment.document_submission.url|safe }}" target="_blank">Download File</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
    <button type="submit" name="rest_day" value="true">Rest Day</button>
  </form>

  <a href="{% url 'calendar_view' %}">Back to Calendar</a>

</body>
{% endblock %}
</html>