{% extends 'base.html' %}
{% load static %}

{% block title %} Set Up Panel | Bulan Campus {% endblock %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard Panel | Bulan Campus</title>
    <link rel="stylesheet" href="{% static 'style/StudentCalendar.css' %}">
    <link rel="stylesheet" href="{% static 'style/sidebar.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<style>
    body {
        background-color: white !important; /* Set the background color for this page */
    }
</style>

{% endblock %}


{% block content %}

<div class="eme">
    <a href="#"><img src="{% static 'images/SorSU-Logo.png' %}" alt="profile"></a>
</div>

<div class="cc">
    <a href="#"><img src="{% static 'images/cc.gif' %}" alt="profile"></a>
</div>

<div class="bb">
    <a href="#"><img src="{% static 'images/bb.gif' %}" alt="profile"></a>
</div>

<div class="ss">
    <a href="#"><img src="{% static 'images/ss.gif' %}" alt="profile"></a>
</div>


<div class="createcalendar">
    <h2>Create Internship Calendar</h2>
    <form method="post" action="{% url 'interns_calendar_create' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="start_month">Start Month:</label>
        <input type="text" for="start_month" id="start_month" name="start_month" placeholder="MM/DD/YYYY" required>
      </div>
      <div class="form-group">
        <label for="end_month">End Month:</label>
        <input type="text" id="end_month" for="end_month" name="end_month" placeholder="MM/DD/YYYY" required>
      </div>
      <button type="submit">Submit</button>
    </form>
</div>

<ul>
    {% for bin_number, adjusted_bin_number, bin_date in submission_bins_with_dates %}
        <li>
            <a href="{% url 'daily_accomplishment_create' date=bin_date %}">Add Daily Report for {{ bin_date|date:"F d, Y" }}</a>
        </li>
    {% endfor %}
</ul>

{% if request.session.redirect_to_create_calendar %}
  <!-- Display a message indicating that the user needs to set up their calendar -->
  <p>Please set up your calendar.</p>
{% endif %}


</div>
{% endblock %}



{% block scripts %}
    <script>

        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;
            arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("close");
        });

        </script>

{% endblock %}
